.post{
    background-color: white;
    max-width: 500px;
    border: 2px solid lightgray;
    margin-bottom: 45px;
    
    
}

.post__image{
    width: 100%;
    height: 350px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}

.post__text{
    font-weight: normal;
}

.post__header{
    padding: 30px;
    display: flex;
}
.post__avatar{
    margin-right: 10px;
}

.sign__up{
    display: flex;
    flex-direction: column;
}

.comment__box{
    display: flex;
    margin-top:10px;
}

.comment__input{
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post__text{
    padding: 20px;
}
.comment__button{
    flex: 0;
    border: none;
    color: lightskyblue;
    background-color: transparent;
    border-top: 1px solid lightgray;
}

.post__comments{
    padding: 20px;
}